* {
	box-sizing: border-box;
	font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}

body {
	border: 20px solid #fff;
	display: block;
	margin: 0 auto;
	min-height: 100vh;
	background-color: #3c3f44;
}

.container {
	width: 50%;
	margin: 0 auto;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4A4F56;
	/*outline: 1px solid blue;*/
}

main {
	padding-top: 0px;
	padding-bottom: 0px;
	/*width: 60%;
	margin: 0 auto;*/
	/*outline: 1px solid red;*/
}

form {
	display: block;
	/*width: 80%;
	padding: 0px;
	margin: 0 auto;*/
	/*outline: 1px solid white;*/

}

ul {
	list-style-type: none;
	padding: 0px;
	height: 100%;
	/*margin: 0 auto;*/

}

li {
	color: #fff;
	/*outline: 1px solid yellow;*/
}

footer p {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #4a4f56;
	font-size: 25px;
	/*width: 46.2%;
	margin: 0 auto;*/
}

.red-text {
	text-align: center;
	color: #eb7e7f;
}

h1 , p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 25px;
}

h1 {
	font-size: 40px;
}

span {
	font-size: 30px;
}


small:before {
	content: "(";
}

small:after {
	content: ")"
}

li:nth-child(odd) {
	background-color: #7a7593;
	border-top: 2px solid #7a7593;
	border-bottom: 2px solid #7a7593
}
li:nth-child(even) {
	background-color: #9d9baf;
	border-top: 2px solid #9d9baf;
	border-bottom: 2px solid #9d9baf;
}

li:hover {
	border-top-color: #fff;
	border-bottom-color: #fff;
	background-color: #625e77;
}

li:active {
	border-top-color: #fff;
	border-bottom-color: #fff;
	background-color: #e08283;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px
}

label {
	display: block;
	padding: 20px;
	/*outline: 1px solid green;*/
}

input:checked + span:nth-child(even) {
	text-decoration: line-through;
	color: #7a7593;
}

input:checked + span:nth-child(odd) {
	text-decoration: line-through;
	color: #a19caf;
}

